:root {
    --aqua-color: #0FF0FA;
    --blue-color: #150DDE;
    --pink-color: #F51BDF;
    --orange-color: #DE480D;
    --yellow-color: #FFC000;
}

.site-header {
    position: sticky;
    top: 20px;
}
.main-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100000;
}
.site-logo {
    color: var(--pink-color);
}
.navigation-bar {
    font-size: 20px;
    text-align: right;

}
.navigation-menu {
    list-style: none;
    display: flex;
}
.site-title {
    text-align: center;
    font-family: "Nevduplenysh";
    font-size: 45px;
    color: var(--pink-color);
    -webkit-text-stroke: 5px var(--blue-color);
}

.main-body {
    z-index: 10;
}

li {
    padding: 2px;
}
/*div {*/
/*    display: flex;*/
/*}*/
@font-face {
    font-family: "Nevduplenysh";
    src: url("Lab1/fonts/Nevduplenysh-Regular.otf");
}
