<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Связаться с нами - Street Kanvas</title>
    {{> styles }}
    <meta charset="UTF-8">
    <meta name="keywords" content="граффити, стрит-арт, искусство, кастом">
    <meta name="description" content="Студия дизайна для любителей монументальной живописи и граффити,
     желающих опробовать себя в уличном искусстве, или людей стремящихся создать для себя яркие и нобычные образы">
    {{> scripts }}
</head>
<body>
{{> header }}
<main>
</main>
{{> footer }}
</body>
</html>