<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Услуги - Street Kanvas</title>
    {{> styles }}
    <meta charset="UTF-8">
    <meta name="keywords" content="граффити, стрит-арт, искусство, кастом">
    <meta name="description" content="Студия дизайна для любителей монументальной живописи и граффити,
     желающих опробовать себя в уличном искусстве, или людей стремящихся создать для себя яркие и нобычные образы">
    {{> scripts }}
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</head>
<body>
{{> header }}
<main>
    <div class="swiper">

    </div>
</main>
{{> footer }}
</body>
</html>