<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Магазин - Street Kanvas</title>
    {{> styles }}
    <link rel="stylesheet" href="css/shop_styles.css">
    <meta charset="UTF-8">
    <meta name="keywords" content="граффити, стрит-арт, искусство, кастом">
    <meta name="description" content="Студия дизайна для любителей монументальной живописи и граффити,
     желающих опробовать себя в уличном искусстве, или людей стремящихся создать для себя яркие и нобычные образы">
    {{> scripts }}
</head>
<body>
{{> header }}
<main class="shop">
    <div class="filters">
    </div>
    <div class="products">
    </div>
</main>
{{> footer }}
</body>
</html>