<footer class="footer-nav">
    <div class="social">
    </div>
    <div class="additional-info">
        <a class="link-info" href="tel:+79142308008">Contact Us</a>
    </div>
    <ul class="navigation-menu social">
        <li><a href="https://t.me/skitterino"><img src="images/footer/telegram.svg" alt="telegram" height="24"
                                                   width="24"></a>
        <li><a href="https://instagram.com/skitterino"><img src="images/footer/instagram.svg" alt="instagram"
                                                            height="26" width="26"></a></li>
        <li><a href="https://vk.com/skitterino"><img src="images/footer/telegram.svg" alt="vk" height="25" width="25"></a>
        </li>
    </ul>
</footer>